
/* START Navigation Bar CSS */

.navi ul{
	list-style-type:none;
	margin:0;
	padding: 0;
	overflow: hidden;
	background-color: #333;
	

}

.navi li{
	float: left;
}

.navi li a{
	display:block;
	color: white;
	text-align:center;
	padding: 14px 16px;
	text-decoration: none;
	color: white;
}

.navi li a:hover:not(.active) {
	background-color: #111;
	color: green;
}

/* ToDO: After pages are added, highligh selected tab as green */
.active {
	background-color: #4CAF50;
}

/* END Navigation Bar CSS */

/* START Jumbotron CSS */

.jumbotron{
	margin-bottom: 0px;
	background-image: url("jumbotronIMG.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	width: 100%;
	height: 600px;

	
}

.jumbotron h1{
	color: white;
	text-shadow: #000 0px 0px 1px;
    -webkit-font-smoothing: antialiased;
	margin:auto;
	
}

.jumbotron h3{
	color: white;
	text-shadow: #000 0px 0px 1px;
    -webkit-font-smoothing: antialiased;
}

.text{
	position:absolute;
	top: 20%;
	margin: auto;
}

/* END Jumbotron CSS */

/* START Expos CSS */
.expos{
	text-align:center;

}
.expos ul{
	display:inline-table;
	list-style-type:none;
	text-align:center;
	width:250px;

	
}

.expos li{
	width:80%;
	padding-bottom: 5px;

}



.expos a{
	color: grey;
	font-size:18px;
}

.expos img{
	max-width:15%;
	height:15%;
}

/* END Expos CSS */

/* START RecArc CSS */


/* END RecArc CSS*/


/* START Footer CSS */
footer{
	background-color:grey;
}

footer h3{
	text-align:center;
}
/* END Footer CSS */